@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }
}
<h1 class="page-header">@iT.T(xLan,"1442","Employees Edit") <small class="me-2">@iT.T(xLan,"1449","Salaries Details")</small></h1>
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-dark" onclick="RefreshGrid()">@iT.T(xLan, "1156","Refresh")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @(Html.DevExtreme().DataGrid<CLiHR.Cards.Employee>().ID("grd-Employee")
                    .ShowBorders(true).Width("100%")
                    .DataSource(d => d.WebApi()
                    .Controller("icards").Area("HR")
                    .Key("Key")
                    .LoadAction("Employee").UpdateAction("UpdateEmployees"))
                    .Editing(ed => ed.Mode(GridEditMode.Batch).AllowUpdating(true).AllowAdding(false).AllowDeleting(false).UseIcons(true))
                    .ColumnAutoWidth(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {
                        columns.Add().Name("act").Caption(iT.T(xLan, "", "#")).Width(45).AllowExporting(false).AllowFiltering(false).CellTemplate(new JS("ct4Action"));

                        columns.AddFor(m => m.Code).Caption(iT.T(xLan, "1164", "Code")).Width(100);
                        columns.AddFor(m => m.Name1).Caption(iT.T(xLan, "1443", "Employee Name"));
                        columns.AddFor(m => m.Name2).Caption(iT.T(xLan, "1443", "Employee Name"));
                        columns.AddFor(m => m.StartDate).Caption(iT.T(xLan, "1524", "Join Date")).Width(110).Format("dd.MM.yyyy");
                        columns.AddFor(m => m.EndDate).Caption(iT.T(xLan, "1186", "End Date")).Width(110).Format("dd.MM.yyyy");
                        columns.AddFor(m => m.BasicSalary).Caption(iT.T(xLan, "1982", "BasicSalary")).Format("0,###.##").Width(100);
                        columns.AddFor(m => m.AllHome).Caption(iT.T(xLan, "1142", "Home")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.AllTransportation).Caption(iT.T(xLan, "1451", "Transportation")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.AllComunication).Caption(iT.T(xLan, "1452", "Comunication")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.AllFood).Caption(iT.T(xLan, "1453", "Food")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.AllOther1).Caption(iT.T(xLan, "1454", "Other 1")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.AllOther2).Caption(iT.T(xLan, "1455", "Other 2")).Format("0,###.##").Width(85);
                        columns.AddFor(m => m.AllOther3).Caption(iT.T(xLan, "1456", "Other 3")).Format("0,###.##").Width(85);
                    })
                    .Pager(pg =>
                    {
                        pg.AllowedPageSizes(new List<int> { 50, 100, 200 });
                        pg.ShowNavigationButtons(true);
                        pg.ShowPageSizeSelector(true);
                        pg.ShowInfo(true);
                        pg.InfoText("{0} of {1} | {2} Rows");
                    })
                    .Paging(p => { p.PageSize(50); })
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .SearchPanel(sp =>
                    {
                        sp.Width(250);
                        sp.Visible(true);
                    })
                    .RowAlternationEnabled(true)
                    .RtlEnabled(devRtl)
                    )
            </div>
        </div>
    </div>
</div>
<div id="mod-Employee" class="modal"><div class="modal-dialog" id="con-Employee"></div></div>
<script class="append-on-ajax-script">
    function ct4Action (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [
                { icon: 'edit' }
            ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                switch (e.itemIndex)
                {
                    case 0:
                        if (e.itemData.icon == 'edit')
                        {
                            GetDetails(options.data.Key);
                        }
                        break;
                }
            },
        });
    }
    function RefreshGrid ()
    {
        $('#grd-Employee').dxDataGrid("instance").refresh();
    }
    function GetDetails (Key)
    {
        $('#con-Employee').empty();
        $("#con-Employee").load('/HR/Cards/EmployeeDetails?Key=' + Key);
        $("#mod-Employee").modal({ backdrop: 'static' }).modal('toggle');
    }
</script>
