@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
 
}

<div class="row justify-content-center">
    <div class="col-lg-7 col-md-12">
        <h1 class="page-header">@iT.T(xLan,"2557","Inventory Stocktaking")</h1>
        <p>@iT.T(xLan,"2566","The order has been submited successfully")</p>
    </div>
</div>



 
