@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }
}
<h1 class="page-header">@iT.T(xLan,"1176","Bulk Edit Accounts")</h1>
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-dark" onclick="RefreshGrid()">@iT.T(xLan, "1156","Refresh")</button>
                    <button type="button" class="btn btn-yellow text-dark" onclick="GetDetails(null)">@iT.T(xLan, "1157","Create New Account")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @(Html.DevExtreme().DataGrid<CLiAccounting.Cards.ChartofAccounts>().ID("grd-Accounts")
                    .ShowBorders(true).Width("100%")
                    .DataSource(d => d.WebApi()
                    .Controller("icards").Area("Accounting")
                    .Key("Key")
                    .LoadAction("ChartofAccount").UpdateAction("UpdateCard"))
                    .Editing(ed => ed.Mode(GridEditMode.Batch).AllowAdding(false).AllowDeleting(false).AllowUpdating(true))
                    .ColumnAutoWidth(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {
                        columns.Add().Name("act").Caption(iT.T(xLan, "", "#")).Width(70).AllowEditing(false).Fixed(true).FixedPosition((HorizontalEdge)devFixd).AllowExporting(false).AllowFiltering(false).CellTemplate(new JS("ct4Action"));
                        columns.AddFor(m => m.Kind).Caption(iT.T(xLan, "1158", "Kind")).Width(70).Lookup(L => L.DataSource(iReplacer.accAccountKind(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Kind"));
                        columns.AddFor(m => m.isParent).Caption(iT.T(xLan, "1159", "Is Parent")).Width(70).Lookup(L => L.DataSource(iReplacer.accParent(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4isParent"));
                        columns.AddFor(m => m.Financial).Caption(iT.T(xLan, "1160", "Financial")).AllowEditing(false).Width(65).Lookup(L => L.DataSource(iReplacer.accFinancial(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Financial"));
                        columns.AddFor(m => m.Transactions).Caption(iT.T(xLan, "1161", "Trans.")).AllowEditing(false).Width(60).CellTemplate(new JS("ct4Transactions"));
                        columns.AddFor(m => m.Category).Caption(iT.T(xLan, "1162", "Category")).Width(90).Lookup(L => L.DataSource(iReplacer.accCategory(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Category"));
                        columns.AddFor(m => m.Level).Caption(iT.T(xLan, "1163", "Level")).Width(70);
                        columns.AddFor(m => m.Code).Caption(iT.T(xLan, "1164", "Code")).Width(100);
                        columns.AddFor(m => m.Name1).Caption(iT.T(xLan, "1165", "Account Name"));
                        columns.AddFor(m => m.Name2).Caption(iT.T(xLan, "1166", "English Name"));
                        columns.AddFor(m => m.Parent).Caption(iT.T(xLan, "1167", "Parent Code")).Width(100);
                        columns.AddFor(m => m.ParentName1).Caption(iT.T(xLan, "1168", "Parent Name")).AllowEditing(false);
                        columns.AddFor(m => m.ParentName2).Caption(iT.T(xLan, "1169", "Parent English")).Visible(false).AllowEditing(false);
                    })
                    .Pager(pg =>
                    {
                        pg.AllowedPageSizes(new List<int> { 50, 100, 200 });
                        pg.ShowNavigationButtons(true);
                        pg.ShowPageSizeSelector(true);
                        pg.ShowInfo(true);
                        pg.InfoText("{0} of {1} | {2} Rows");
                    })
                    .Paging(p => { p.PageSize(50); })
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .SearchPanel(sp =>
                    {
                        sp.Width(250);
                        sp.Visible(true);
                    })
                    .RowAlternationEnabled(true)
                    .Scrolling(s => s.ScrollByContent(true).ScrollByThumb(true))
                    .RtlEnabled(devRtl)
                    )
            </div>
        </div>
    </div>
</div>
<div id="mod-Account" class="modal"><div class="modal-dialog" id="con-Account"></div></div>
<script class="append-on-ajax-script">
    function ct4Action (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [
                { icon: 'edit' },
                { icon: 'trash' }
            ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                switch (e.itemIndex)
                {
                    case 0:
                        if (e.itemData.icon == 'edit')
                        {
                            if (options.data.Level == 1)
                            {
                                $.alert({
                                    title: 'Stop',
                                    content: "Cannot open root account,You can use root page to edit it.",
                                });
                                return;
                            }
                            GetDetails(options.data.Key);
                        }
                        break;
                    case 1:
                        if (e.itemData.icon == 'trash')
                        {
                            DeleteRow(options.data.Key, options.data.Name1);
                        }
                        break;
                }
            },
        });
    }
    function RefreshGrid ()
    {
        $('#grd-Accounts').dxDataGrid("instance").refresh();
    }
    function GetDetails (Key)
    {
        $('#con-Account').empty();
        $("#con-Account").load('/Accounting/Cards/GetAccount?Key=' + Key);
        $("#mod-Account").modal({ backdrop: 'static' }).modal('toggle');
    }
    function DeleteRow (Key, Display)
    {
        $.confirm({
            title: 'Confirm',
            content: 'Are you sure to delete Account: ' + Display,
            type: 'red',
            buttons: {
                Delete: {
                    text: 'Delete',
                    btnClass: 'btn-red',
                    action: function ()
                    {
                        $.ajax({
                            type: "Delete",
                            url: "/api/acc/icards/DeleteRoot",
                            data: { Key: Key },
                            dataType: "json",
                            success: function (response)
                            {
                                if (response == 0)
                                {
                                    $.alert({
                                        title: 'Stop',
                                        content: "Cannot delete account,It is have a child's",
                                    });
                                } else
                                {
                                    RefreshGrid();
                                }
                            },
                            failure: function (response)
                            {
                                alert(response);
                            },
                            error: function (response)
                            {
                                alert(response.responseText);
                            }
                        });
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    action: function ()
                    {
                        return;
                    }
                }
            }
        });
    }
    function ct4Kind (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-yellow text-dark">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
            case 2:
                str = '<div class="text-center"><span class="badge bg-info text-dark">' + options.text + '</span></div>';
                break;
            case 3:
                str = '<div class="text-center"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
            case 4:
                str = '<div class="text-center"><span class="badge bg-warning text-dark">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4isParent (container, options)
    {
        var str = '';
        if (options.data.Level == 1)
        {
            str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
            $(str).appendTo(container)
            return;
        }
        switch (options.value)
        {
            case false:
                str = '<div class="text-center"><span class="badge bg-info">' + options.text + '</span></div>';
                break;
            case true:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container);
    }
    function ct4Financial (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case false:
                str = '<div class="text-center"><span class="badge bg-default text-dark">' + options.text + '</span></div>';
                break;
            case true:
                str = '<div class="text-center"><span class="badge bg-yellow text-dark">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4Status (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-gray">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center"><span class="badge bg-success">' + options.text + '</span></div>';
                break;
            case 2:
                str = '<div class="text-center"><span class="badge bg-danger text-dark">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4Transactions (container, options)
    {
        if (options.value > 0)
        {
            container.append('<div>' + options.text + '</div>')
                .css('background-color', '#CDCFCF')
                .css('font-weight', 500);
        }
        if (options.value == 0)
        {
            container.append('<div>' + options.text + '</div>')
                .css('font-weight', 500);
        }
    }
    function ct4Category (container, options)
    {
        switch (options.value)
        {
            case 1:
                container.append('<div>' + options.text + '</div>')
                    .css('color', '#CD4325');
                break;
            default:
                container.append('<div>' + options.text + '</div>')
                break;
        }
    }
</script>
