@{
    string xLan = User.FindFirstValue("aiwLan");
    string DB = User.FindFirstValue("aiwDB");
    bool devRtl;
    DevExtreme.AspNet.Mvc.HorizontalEdge devFixd;
    if (User.FindFirstValue("aiwLan") == "en")
    {
        devRtl = false;
        devFixd = HorizontalEdge.Left;
    }
    else
    {
        devRtl = true;
        devFixd = HorizontalEdge.Right;
    }
}
<h1 class="page-header">@iT.T(xLan,"1283","Cash Box Cards")</h1>
<div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-dark" onclick="RefreshGrid()">@iT.T(xLan, "1156","Refresh")</button>
                    <button type="button" class="btn btn-yellow text-dark" onclick="GetDetails(null)">@iT.T(xLan, "1284","New Cash Box")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @(Html.DevExtreme().DataGrid<CLiFinancial.Cards.CashBox>().ID("grd-CashBox")
                    .ShowBorders(true).Width("100%")
                    .DataSource(d => d.WebApi()
                    .Controller("icards").Area("Financial")
                    .Key("Key")
                    .LoadAction("CashBox"))
                    .ColumnAutoWidth(true)
                    .FocusedRowEnabled(true)
                    .Columns(columns =>
                    {
                        columns.Add().Name("act").Caption(iT.T(xLan, "", "#")).Width(70).AllowExporting(false).AllowFiltering(false).CellTemplate(new JS("ct4Action"));
                        columns.AddFor(m => m.Kind).Caption(iT.T(xLan, "1158", "Kind")).Width(75).Lookup(L => L.DataSource(iReplacer.finCashKind(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Kind"));
                        //columns.AddFor(m => m.Transaction).Caption(iT.T(xLan, "1011","Transaction")).Width(80).Lookup(L=>L.DataSource(iReplacer.accBalanceItemKind(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Transaction"));
                        columns.AddFor(m => m.Parent).Caption(iT.T(xLan, "1172", "Parent")).Width(165).Lookup(L => L.DataSource(CLiAccounting.Selections.AccountFinancialCategory.GetList(DB, xLan, PLenums.AccountingCategory.CashBox)).ValueExpr("Key").DisplayExpr("Display"));
                        columns.AddFor(m => m.Code).Caption(iT.T(xLan, "1164", "Code")).Width(100);
                        columns.AddFor(m => m.Name1).Caption(iT.T(xLan, "1165", "Account Name"));
                        columns.AddFor(m => m.Name2).Caption(iT.T(xLan, "1166", "English Name"));
                        columns.AddFor(m => m.Account).Caption(iT.T(xLan, "2596", "Integration Account")).MinWidth(200).Lookup(L => L.DataSource(CLiAccounting.Selections.AccountTransactionLevel.GetList(DB, xLan)).ValueExpr("Key").DisplayExpr("Display")).CellTemplate(new JS("ctWordWrap"));
                        columns.AddFor(m => m.Disable).Caption(iT.T(xLan, "1282", "Status")).Width(75).Lookup(L => L.DataSource(iReplacer.CardStatus(xLan)).ValueExpr("Value").DisplayExpr("Display")).CellTemplate(new JS("ct4Disable"));
                    })
                    .Pager(pg =>
                    {
                        pg.AllowedPageSizes(new List<int> { 50, 100, 200 });
                        pg.ShowNavigationButtons(true);
                        pg.ShowPageSizeSelector(true);
                        pg.ShowInfo(true);
                        pg.InfoText("{0} of {1} | {2} Rows");
                    })
                    .Paging(p => { p.PageSize(50); })
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .SearchPanel(sp =>
                    {
                        sp.Width(250);
                        sp.Visible(true);
                    })
                    .Scrolling(s => s.ScrollByContent(true).ScrollByThumb(true))
                    .Export(exp => exp.Enabled(true).Option("fileName", iT.T(xLan, "1283", "Cash Cards")))
                    .RowAlternationEnabled(true)
                    .RtlEnabled(devRtl)
                    )
            </div>
        </div>
    </div>
</div>
<div id="mod-CashBox" class="modal"><div class="modal-dialog" id="con-CashBox"></div></div>
<script class="append-on-ajax-script">
    function ct4Action (container, options)
    {
        $('<div>').appendTo(container).dxMenu({
            items: [
                { icon: 'edit' },
                { icon: 'trash' }
            ],
            showFirstSubmenuMode: 'onClick',
            hideSubmenuOnMouseLeave: false,
            onItemClick: function (e)
            {
                switch (e.itemIndex)
                {
                    case 0:
                        if (e.itemData.icon == 'edit')
                        {
                            GetDetails(options.data.Key);
                        }
                        break;
                    case 1:
                        if (e.itemData.icon == 'trash')
                        {
                            DeleteRow(options.data.Key, options.data.Name1);
                        }
                        break;
                }
            },
        });
    }
    function RefreshGrid ()
    {
        $('#grd-CashBox').dxDataGrid("instance").refresh();
    }
    function GetDetails (Key)
    {
        $('#con-CashBox').empty();
        $("#con-CashBox").load('/Financial/Cards/CashBoxDetails?Key=' + Key);
        $("#mod-CashBox").modal({ backdrop: 'static' }).modal('toggle');
    }
    function DeleteRow (Key, Display)
    {
        $.confirm({
            title: 'Confirm',
            content: 'Are you sure to delete CostCenter: ' + Display,
            type: 'red',
            buttons: {
                Delete: {
                    text: 'Delete',
                    btnClass: 'btn-red',
                    action: function ()
                    {
                        $.ajax({
                            type: "Delete",
                            url: "/api/fin/icards/DeleteCashBox",
                            data: { Key: Key },
                            dataType: "json",
                            success: function (response)
                            {
                                if (response == 0)
                                {
                                    $.alert({
                                        title: 'Stop',
                                        content: "Cannot delete CostCenter,It is have a child's",
                                    });
                                } else
                                {
                                    RefreshGrid();
                                }
                            },
                            failure: function (response)
                            {
                                alert(response);
                            },
                            error: function (response)
                            {
                                alert(response.responseText);
                            }
                        });
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    action: function ()
                    {
                        return;
                    }
                }
            }
        });
    }
    function ct4Kind (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case 0:
                str = '<div class="text-center"><span class="badge bg-yellow text-dark">' + options.text + '</span></div>';
                break;
            case 1:
                str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
    function ct4Disable (container, options)
    {
        var str = '';
        switch (options.value)
        {
            case false:
                str = '<div class="text-center"><span class="badge bg-success text-dark">' + options.text + '</span></div>';
                break;
            case true:
                str = '<div class="text-center"><span class="badge bg-danger">' + options.text + '</span></div>';
                break;
        }
        $(str).appendTo(container)
    }
</script>
