@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Platxe | Login</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- ================== BEGIN core-css ================== -->
    <link href="~/Template/assets/css/vendor.min.css?version=3.019" rel="stylesheet" />
    <link href="~/Template/assets/css/apple/app.min.css?version=3.019" rel="stylesheet" />
    <link href="~/Template/assets/plugins/ionicons/css/ionicons.min.css?version=3.019" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
    <link rel="stylesheet" href="~/css/vendor.css?version=3.019" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css?version=3.019" />
    <script src="~/js/vendor.js?version=3.019" asp-append-version="true"></script>
    <link href="~/shllash/jquery-confirm.min.css?version=3.019" rel="stylesheet" />
    <style>
        .login.login-v2 .login-container {
            margin-top: -50px
        }
    </style>
</head>
<body class="pace-top">
    <div id="loader" class="app-loader">
        <span class="spinner"></span>
    </div>
    <div id="app" class="app">
        <div class="login login-v2 fw-bold">
            <div class="login-cover">
                <div class="login-cover-img" style="background-image: url(../Template/assets/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
                <div class="login-cover-bg"></div>
            </div>
            <div class="login-container">
                <div class="login-header">
                    <div class="brand">
                        <div class="d-flex align-items-center">
                            <span style="margin-left:3px;margin-right:3px;font-weight:400">Platxe </span> <small>ERP</small>
                        </div>
                        <small>Recover User Password</small>
                        <p class="f-s-10" style="font-size:12px;margin-top:10px">Please enter you username or email to send recover password email.<br />Check your email inbox for platx recover email if there is no email please check junk mails</p>
                    </div>
                   
                </div>
                <div class="login-content">
                    <form id="frmLogin">
                        <div class="form-floating mb-20px">
                            <input type="text" class="form-control fs-13px h-45px border-0" placeholder="Client ID" id="txtCID" required />
                            <label for="txtCID" class="d-flex align-items-center text-gray-600 fs-13px">Client ID</label>
                        </div>
                        <div class="form-floating mb-20px">
                            <input type="text" class="form-control fs-13px h-45px border-0" placeholder="Email Address" id="txtEmail" required />
                            <label for="txtEmail" class="d-flex align-items-center text-gray-600 fs-13px">Email Address</label>
                        </div>
                     
                        <p class="text-red" style="padding:5px" id="txtError" hidden></p>
                        <div class="mb-20px">
                            <button type="submit" class="btn btn-success d-block w-100 h-45px btn-lg" onclick="Login()">Recover Password</button>
                        </div>
                      
                    </form>
                    <div class="text-gray-500">
                        Go to login page Click <a href="javascript:;" class="text-white">here to go login page.</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <script src="~/Template/assets/js/vendor.min.js?version=3.019"></script>
    <script src="~/Template/assets/js/app.min.js?version=3.019"></script>
    <script src="~/Template/assets/js/demo/login-v2.demo.js?version=3.019"></script>

    <script class="append-on-ajax-script">
        $(document).ready(function ()
        {
            $("#frmLogin").submit(function (event)
            {
                event.preventDefault();
            });
            $('#txtCID').val(Cookies.get('CID'));
            $("#xhtml").attr("dir", "ltr");
            $("html").attr("dir", "ltr");
            $("body").removeClass("rtl-mode");
            $("body").toggleClass("dx-rtl", false);
        });
        function Login ()
        {
            $('#txtError').prop('hidden', true);
            $('#txtError').text('');
            var cid = '';
            var uid = '';
            var pas = '';
            cid = $('#txtCID').val();
            uid = $('#txtEmail').val();
            pas = $('#txtPassword').val();
            if (cid == '')
                return;
            $.ajax({
                type: "Post",
                url: "/api/apiaccount/SendPasswordRecovery",
                data: {
                    ClientID: cid,
                    UserName: uid
                },
                dataType: "json",
                success: function (response)
                {
                    switch (response)
                    {
                        case "Ok":
                            Cookies.set('CID', $('#txtCID').val());
                            window.location.replace('/Account/SuccessfulSendPassword');
                            break;
                        case "Password":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('Password no matching');
                            break;
                        case "Expiry":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('Expiry subscribe');
                            break;
                        case "NoSubscribe":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('There is no Client');
                            break;
                        case "NoUser":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('There is no user');
                            break;
                    }
                },
                failure: function (response)
                {
                    alert(response);
                },
                error: function (response)
                {
                    alert(response.responseText);
                }
            });
        }
    </script>
</body>
</html>