@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Platxe | Login</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- ================== BEGIN core-css ================== -->
    <link href="~/Template/assets/css/vendor.min.css?version=3.019" rel="stylesheet" />
    <link href="~/Template/assets/css/apple/app.min.css?version=3.019" rel="stylesheet" />
    <link href="~/Template/assets/plugins/ionicons/css/ionicons.min.css?version=3.019" rel="stylesheet" />
    <!-- ================== END core-css ================== -->
    <link rel="stylesheet" href="~/css/vendor.css?version=3.019" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css?version=3.019" />
    <script src="~/js/vendor.js?version=3.019" asp-append-version="true"></script>
    <link href="~/shllash/jquery-confirm.min.css?version=3.019" rel="stylesheet" />
    <style>
        .login.login-v2 .login-container {
            margin-top: -50px
        }
    </style>
</head>
<body class="pace-top">
    <!-- BEGIN #loader -->
    <div id="loader" class="app-loader">
        <span class="spinner"></span>
    </div>
    <!-- END #loader -->
    <div id="app" class="app">
        <!-- BEGIN coming-soon -->
        <div class="coming-soon">
            <!-- BEGIN coming-soon-header -->
            <!-- END coming-soon-header -->
            <!-- BEGIN coming-soon-content -->
            <div class="coming-soon-content">

                <h2>Platx ERP</h2>
                <h2>Recover User Password</h2>
                <div class="desc">
                    We are send whatsapp to recover your password <br />check your whatsapp.
                </div>
                <div class="desc">
                    We are send email to recover your password <br />check your email.
                </div>
               
             
                <p class="text-gray-500 mb-5">We don't spam. Your email address is secure with us.</p>
                <p>
                    <span class="me-2">Go to home </span>
                    <a href="/" class="mx-1 text-decoration-none text-dark">
                        <i class="fa fa-home fa-lg fa-fw text-info"></i> Home Page
                    </a>
                   
                </p>
            </div>
            <!-- END coming-soon-content -->
        </div>

        <a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        <!-- END scroll-top-btn -->
    </div>
    <script src="~/Template/assets/js/vendor.min.js?version=3.019"></script>
    <script src="~/Template/assets/js/app.min.js?version=3.019"></script>
    <script src="~/Template/assets/js/demo/login-v2.demo.js?version=3.019"></script>

    <script class="append-on-ajax-script">
        $(document).ready(function ()
        {
            $("#frmLogin").submit(function (event)
            {
                event.preventDefault();
            });
            $('#txtCID').val(Cookies.get('CID'));
            $("#xhtml").attr("dir", "ltr");
            $("html").attr("dir", "ltr");
            $("body").removeClass("rtl-mode");
            $("body").toggleClass("dx-rtl", false);
        });
        function Login ()
        {
            $('#txtError').prop('hidden', true);
            $('#txtError').text('');
            var cid = '';
            var uid = '';
            var pas = '';
            cid = $('#txtCID').val();
            uid = $('#txtEmail').val();
            pas = $('#txtPassword').val();
            if (cid == '')
                return;
            $.ajax({
                type: "Post",
                url: "/api/apiaccount/SendPasswordRecovery",
                data: {
                    ClientID: cid,
                    UserName: uid
                },
                dataType: "json",
                success: function (response)
                {
                    switch (response)
                    {
                        case "Ok":
                            Cookies.set('CID', $('#txtCID').val());
                            window.location.replace('/');
                            break;
                        case "Password":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('Password no matching');
                            break;
                        case "Expiry":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('Expiry subscribe');
                            break;
                        case "NoSubscribe":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('There is no Client');
                            break;
                        case "NoUser":
                            $('#txtError').prop('hidden', false);
                            $('#txtError').text('There is no user');
                            break;
                    }
                },
                failure: function (response)
                {
                    alert(response);
                },
                error: function (response)
                {
                    alert(response.responseText);
                }
            });
        }
    </script>
</body>
</html>